body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f9f9f9;
}

header {
    background-color: #004aad;
    color: white;
    padding: 10px 0;
}

.logo {
    width: 100px;
    margin: 20px auto;
}

.scan-btn {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #004aad;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.scan-btn:hover {
    background-color: #00337f;
}

.result-message {
    margin-top: 20px;
    font-size: 20px;
}

.success {
    color: green;
}

.error {
    color: red;
}

